/*=========================================================*/
/* Variables (color scheme)*/
:root {
    --background: #2d3133;
    --font: #cccccc;
    --border: #5d5f70;
    --accent1: #313b3f;
    --accent2: #1f2527;
    --accent3: #606783;
}

/*=========================================================*/
/* Banner */
* {
    margin: 0; 
    padding: 0;
  }

  div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: var(--background); 
    width: 100%; 
  }
  div#banner-content { 
    width: auto; 
    margin: auto; 
    padding: 5px; 
  }
  div#main-content { 
    padding-top: 260px;
    margin: 30px;
  }


/*=========================================================*/
/* Main */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background-color: var(--background);
    color: var(--font);
}


/*=========================================================*/
/* TABLES */
table {
    border-collapse: separate;
    border-color: var(--accent1);
    border-spacing: 1px;
    
}

/* Table Headers */
th {
    border: 1px solid var(--accent1);
    background-color: var(--accent1);
    color: var(--font);
    font-variant-caps: all-small-caps;
    font-size: x-large;
    padding: 8px;
}
/* Table Rows */
td {
    border: 1px solid var(--accent1);
    background-color: var(--accent2);
    color: var(--font);
    font-weight: 600;
    padding: 6px;
}


/*=========================================================*/
/* Links */
 /* unvisited link */
a:link {
     color: rgb(158, 196, 207);
     text-decoration:none;
}
/* visited link */
a:visited {
    color: rgb(151, 139, 189);
}
/* mouse over link */
a:hover {
    color: rgb(243, 193, 255);
} 
/* selected link */
a:active {
    color: rgb(158, 255, 210);
} 


/*=========================================================*/
/* Input Field */
input {
    padding: 5px;
    border: 1px solid var(--border);
    background-color: var(--accent1);
    color: var(--font);
}